<script src="https://maps.google.com/maps/api/js?key=AIzaSyCT1CC6cTXAMmmVsThARkBH5Ne7LyuGnnQ"></script>
<style>
.stations, .stations svg {
  position: absolute;
}

.stations svg {
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
}

#modal-root, #modal-root > div {
  position: absolute;
}
</style>